<style>
    .item__content {
        display: flex;
        width: 100%;
        margin-top: -32px;
        padding: 100px 200px 0px 200px;
        justify-content: space-between;
        background-color: rgb(240, 240, 240);
    }

    .item__left__side {
        width: 52%;
        border: 1px solid rgb(214, 214, 214);
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.575);
        display: flex;
        padding: 20px;
    }

    .item__img {
        /* width: 500px;
        height: 600px; */
        width: 70%;
        cursor: zoom-in;
    }

    .item__right__side {
        border: 1px solid rgb(214, 214, 214);
        background-color: white;
        border-radius: 20px;
        width: 47%;
        min-height: 600px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.575);
        padding-left: 100px;
        padding-right: 100px;

    }

    .item__right__side hr {
        width: 100%;
    }

    .item__meta {
        font-size: 28px;
        height: 10%;
        cursor: pointer;
        /* font-weight: bold; */
    }

    .item__data {
        padding-bottom: 30px;
        /* padding-left: 30px; */
        height: 88%;
    }

    .item__title {
        font-size: 30px;
        font-weight: bold;
    }

    .choose__color {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .color__op {
        width: 80px;
        height: 40px;
        margin-right: 6px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(236, 236, 236);
        cursor: pointer;
    }

    .color__op:hover {
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.575);
    }

    .item__subtitle {
        display: block;
        font-weight: bold;
        font-size: 16px;
    }

    .item__stars {
        font-size: 18px;
        font-weight: bold;
    }

    .item__stars i:hover {
        cursor: pointer;
        color: rgb(255, 192, 31);
    }

    .choose__size {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .size__op {
        width: 60px;
        height: 40px;
        margin-right: 6px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(236, 236, 236);
        cursor: pointer;
    }

    .size__op:hover {
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.575);
    }

    .item__buy__options {
        /* width: 60%; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }

    .item__buy {
        width: 180px;
        height: 40px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 50px;
        font-size: 22px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor: pointer;
    }

    .item__buy--ebay {
        font-size: 40px;
        background-color: rgb(49, 187, 49);
    }

    .item__buy--amazon {
        background-color: #242f41;
        color: white;
    }

    .item__buy--amazon i {
        color: goldenrod;
    }
    .imgs__preview{
        display: flex;
        flex-direction: column;
        width: 150px;
        padding-right: 10px;
        align-items: center;
    }
    .img_preview{
        width: 120px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .img_preview:hover{
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.575);
    }
</style>
<div class="banner">
    <div class="container">
        <h1 class="logo-font">Merchandising</h1>
        <p>{{$ctrl.item.name}}</p>
    </div>
</div>
<div class="item__content">
    <div class="item__left__side">
        <div class="imgs__preview">
            <img ng-repeat="image in $ctrl.item.images" src="{{image}}" alt="preview" width="130px" class="img_preview">
        </div>
        <img src="{{$ctrl.item.images[0]}}" alt="image" class="item__img">
        <!-- <div class="item__img"></div> -->
    </div>

    <div class="item__right__side">
        <div class="item__meta">
            <span class="item__brand">{{$ctrl.item.brand.name}}</span> -
            <span class="item__type">{{$ctrl.item.__typename}}</span>
        </div>
        <hr>
        <div class="item__data">
            <div class="item__title">{{$ctrl.item.name}}</div>
            <br>
            <div class="item__stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                &nbsp;1047
            </div><br>
            <span class="item__subtitle">Choose color:</span>
            <div class="choose__color">
                <div class="color__op" ng-repeat="color in $ctrl.item.colors">
                    <span>{{color}}</span>
                </div>
            </div>
            <br>
            <span class="item__subtitle">Choose color:</span>
            <div class="choose__size">
                <div class="size__op" ng-repeat="size in $ctrl.item.sizes">
                    <span>{{size}}</span>
                </div>
            </div>
            <br><br><br>
            <div class="item__buy__options">
                <div class="item__buy item__buy--amazon">
                    <i class="fab fa-amazon"></i>&nbsp;
                    <span>Amazon</span>
                </div>
                <div class="item__buy item__buy--ebay">
                    <i class="fab fa-ebay"></i>
                </div>
            </div>

        </div>
    </div>
</div>