<style>
    .merch__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding: 0px 350px 0px 350px;
    }

    .all__merch__products {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: -20px;
    }

    .merch__product {
        width: 200px;
        height: 260px;
        border: 1px solid rgb(187, 187, 187);
        background-color: rgb(252, 252, 252);
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.575);
        cursor: pointer;
    }

    .merch__product:hover {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.575);

    }

    .merch__product__img {
        width: 100%;
        height: 70%;
        background-color: red;
    }

    .merch__product__info {
        width: 100%;
        height: 30%;
        padding: 10px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .merch__product__info__title {
        display: inline;
        line-height: 18px;
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;
    }

    .all_merch_brands {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: -20px;
    }

    .merch__brand {
        width: 300px;
        height: 160px;
        border: 1px solid rgb(187, 187, 187);
        background-color: rgb(252, 252, 252);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.575);
        border-radius: 10px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
    }

    .merch__brand:hover {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.575);

    }
</style>

<div class="banner">
    <div class="container">
        <h1 class="logo-font">Merchandising</h1>
        <p>Buy our personalized merchandising.</p>
    </div>
</div>
<div class="merch__content">
    <a ui-sref="app.editorMerch">Create new product</a>
    <h2>All Products</h2>
    <div class="all__merch__products">
        <div class="merch__product" ng-repeat="product in $ctrl.allMerch" ui-sref="app.item({ type:'{{product.__typename | lowercase}}',slug:'{{product.slug}}'})">
            <div ></div>
            <img src="{{product.images[0]}}" alt="" class="merch__product__img">
            <div class="merch__product__info">
                <span class="merch__product__info__title">{{product.name}}</span>
                <span>{{product.brand.name}}</span>
            </div>
        </div>

    </div>
    <h2>All brands</h2>
    <div class="all_merch_brands">
        <div class="merch__brand" ng-repeat="brand in $ctrl.brands">
            <span>{{brand.name}}</span>


        </div>
    </div>
</div>