<style>
    .header-release-details{
        margin-bottom: 40px;
    }

    .meta-release-details{
        width:300px;
        display: flex;
        justify-content: space-between;
    }
</style>

<article class="release-content">
    <header class="header-release-details">
        <h1>{{$ctrl.release.title}}</h1>
        <div class="meta-release-details">
            <span>{{$ctrl.release.updatedAt | date : 'longDate'}}</span>
            <span>{{$ctrl.release.version}}</span>
            <span>Author: @{{$ctrl.release.author.username}}</span>
        </div>
        <button type="button" class="btn btn-danger" ng-show="$ctrl.canModify" ng-click="$ctrl.removeRelease()">Remove</button>
        <button type="button" class="btn btn-warning" ng-show="$ctrl.canModify" ui-sref="app.editorReleases({slug:'{{$ctrl.release.slug}}'})">Edit</button>
    </header>
    
    <div class="release-body">
        <span>{{$ctrl.release.body}}</span>
    </div>

</article>
