<div ng-repeat="release in $ctrl.releases">

    <article class="preview-release" ui-sref="app.release({slug:'{{::release.slug}}'})">
        <h1>{{::release.title}}</h1>
        <p>{{::release.description}}</p>
        <div class="footer-preview-release">
            <div>
                <span class="release_version">Version: {{::release.version}}</span>
                <span> Writed by: {{::release.author.username}}</span>
            </div>
            <span>{{::release.updatedAt  | date: 'longDate'}}</span>
        </div>
    </article>
    
    <hr>
    
</div>