 <div class="home-page">

  <home-slider></home-slider>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">

        <editor-tweets show-authed="true"></editor-tweets>

        <br><br>

        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item" show-authed="true">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'feed' }"
                ng-click="$ctrl.changeList({ type: 'feed' })">
                Your Feed
              </a>
            </li>

            <li class="nav-item">
              <a href="" class="nav-link"
                ng-class="{ active: $ctrl.listConfig.type === 'all' && !$ctrl.listConfig.filters }"
                ng-click="$ctrl.changeList({ type: 'all' })">
                Global Feed
              </a>
            </li>

            <li class="nav-item" ng-show="$ctrl.listConfig.filters.tag">
              <a href="" class="nav-link active">
                <i class="ion-pound"></i> {{$ctrl.listConfig.filters.tag}}
              </a>
            </li>

          </ul>
        </div><br>
        <tweets-list limit="4" list-config="$ctrl.listConfig"></tweets-list>
      </div>

      <!-- STYLE EMBEDDED FOR RELEASES IN HOME (PROVISIONAL) -->


      <div class="col-md-3">
        <div class="sidebar-releases">
          <p style="width: 100%; text-align: left; font-size: 20px; font-weight: 600; margin-bottom: -6px; cursor: pointer;" ui-sref="app.releases">Lastests Releases</p>
          <hr>
          <releases-list limit="3" releases="$ctrl.releases"></releases-list>
        </div>
      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
