.header-release-details {
    margin-bottom: 40px;
}

.meta-release-details {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.release-details-content {
    width: 72%;
    margin: 0 auto;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
}

releases-details {
    width: 74%;
}

aside {
    max-width: 255px;
    min-width: 255px;
    margin-left: 5px;
}

.container h1 span {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.container p {
    max-width: 550px;
    font-weight: 500;
    font-size: 18px;
}

.sidebar-releases {
    padding: 5px 10px 10px;
    background: rgb(245 248 250);
    border-radius: 18px;
}

.preview-release {
    border-radius: 2px;
    max-height: 230px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.preview-release:hover {
    background-color: rgba(92, 184, 92, 0.185);
}

.preview-release h1 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 550;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-release p {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-preview-release {
    height: 35px;
    display: flex;
}

.footer-preview-release span {
    align-self: flex-end;
    font-weight: 600;
}

.footer-preview-release div span {
    display: none;
}