<style>

</style>
<div class="wrapper-editor-merch">
    <div class="container-editor-merch">

        <section class="brandSection">
            <h2>Brands Panel</h2>
            <div class="brandList">
                <div class="brandItem" ng-repeat="brand in $ctrl.allBrands">
                    <div class="brandItem__data">
                        {{$index + 1}} - {{brand.name}}
                    </div>
                    <div class="brandItem__options">
                        <button>Edit</button>
                        <button ng-click="$ctrl.deleteBrand(brand.slug)">Remove</button>
                    </div>

                </div>
            </div>
            <br>
            <div class="creatorBrand">
                <!-- <h2>Create brand</h2> -->
                <label for="brandName">Name:</label><input type="text" name="brandName" id="brandName"
                    ng-model="$ctrl.brand.name">
                <label for="brandDesc">Description:</label><input type="text" name="brandDesc" id="brandDesc"
                    ng-model="$ctrl.brand.description">
                <label for="brandWeb">Website:</label><input type="text" name="brandWeb" id="brandWeb"
                    ng-model="$ctrl.brand.web">
                <button class="btn-submit-brand" type="button" ng-click="$ctrl.submitBrand()">Create Brand</button>
            </div>
        </section>

        <br><br>

        <h1>Create new product</h1>
        



    </div>
</div>