<div class="container-editor-tweets">
    <div class="left-editor-tweets">
        <img ng-src="{{$ctrl.currentUser.image}}" alt="Img-User"/>
    </div>

    <div class="right-editor-tweets">
        <div class="editor-tweet-body">
            <textarea name="tweet_msg" id="tweet_msg" placeholder="Whats going on?..." ng-model="$ctrl.tweet.body"></textarea>
        </div>
        <div class="editor-tweet-options">
            <button class="btn-submit-tweet" type="button" ng-click="$ctrl.submit()">Tweet</button>
        </div>
    </div>
</div>