<div class="preview-link">
    <div class="tweet-canvas">
        <div class="left-side-tweet">
            <img class="img-tweet" ng-src="{{$ctrl.tweet.author.image}}" alt="authImg" ui-sref="app.profile.main({ username: $ctrl.tweet.author.username})">
            <follow-btn user="$ctrl.tweet.author" ng-hide="$ctrl.canModify"></follow-btn>
        </div>

        <div class="right-side-tweet">
            <div class="author-tweet" ui-sref="app.profile.main({ username: $ctrl.tweet.author.username})">
                <span>@{{$ctrl.tweet.author.username}}</span>
                <span>{{$ctrl.tweet.updatedAt  | date: 'longDate'}}</span>
            </div>
            <div class="body-tweet" ui-sref="app.tweets({slug:'{{$ctrl.tweet.slug}}'})">
                <span>{{$ctrl.tweet.body}}</span>
            </div>
            <tweet-actions tweet="$ctrl.tweet"></tweet-actions>
        </div>
    </div>
</div>

<hr>