<div class="preview-link">
    <div class="tweet-canvas">
        <div class="left-side-tweet" ui-sref="app.tweets({slug:'{{$ctrl.tweet.slug}}'})">
            <img class="img-tweet" ng-src="{{$ctrl.tweet.author.image}}" alt="authImg">
        </div>

        <div class="right-side-tweet">
            <div class="author-tweet" ui-sref="app.tweets({slug:'{{$ctrl.tweet.slug}}'})">
                <span>@{{$ctrl.tweet.author.username}}</span>
                <span>{{$ctrl.tweet.updatedAt  | date: 'longDate'}}</span>
            </div>
            <div class="body-tweet" ui-sref="app.tweets({slug:'{{$ctrl.tweet.slug}}'})">
                <span>{{$ctrl.tweet.body}}</span></div>
            <div class="tweet-actions">
                <tweet-fav tweet="$ctrl.tweet"></tweet-fav>

                <div><i class="fas fa-retweet" ng-click="$ctrl.rtTweet"></i><span> {{$ctrl.tweet.retweetsCount}}</span>
                </div>
                <div><i class="fas fa-external-link-alt"></i></div>
            </div>
        </div>
    </div>
</div>

<hr>